
 body {
    
    
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    
    
 }
 
 
 @keyframes logoBecode {
    0%{
        top: 0;
        left: 0;
        transform: rotate(0deg);
        

   }
    15% {
       top: 83%;
       left: 45%;
       

    }
 
    30% {
      top: 40%;
       left: 90%;
      
    }
 
    45% {
       top: 0%;
       left: 50%;
       
    }
    50%{
        transform: rotate(360deg);
        
        
    }

    60% {
       top: 60%;
       left: 0%;
       
    }
 
    75% {
       top: 82%;
       left: 30%;
      
    }
 
    90% {
       top: 40%;
       left: 90%;
       
 
    }
 
    100% {
       top: 0;
       left: 0;
       transform: rotate(0deg);
       
       
    }
 }
    
 img {
    position: absolute; 
    border-radius: 50%;
    width: 300px;
    height: 300px;
    animation: rotate right 5s;
    
    
    animation: logoBecode 10s forwards infinite alternate-reverse linear;
 }
 
 .container {
     position: absolute;
    animation: logoBecode 10s forwards infinite alternate-reverse linear;
    
    width: 300px;
    height: 300px;
    opacity: 0.2;
    border-radius:50%;
    

 }
 @keyframes bgcolor {
    0% {
        background-color: #45a3e5
    }

    30% {
        background-color: #66bf39
    }

    60% {
        background-color: #eb670f
    }

    90% {
        background-color: #f35
    }

    100% {
        background-color: #864cbf
    }
}


